.header-wrapper {
    background-color: rgb(50, 50, 50);
}

.header {
    color: white;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    width: 50px;
    height: 50px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(1%) hue-rotate(212deg) brightness(106%) contrast(101%);
    ;
}

.main-page-menu-a.no-margin {
    margin: 0;
}

.header-logo-title {
    margin-left: 20px;
    font-size: 22px;
}

.header-logo-container {
    display: flex;
    align-items: center;

}

.header-navigate {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-sign-in {
    border-radius: 15px;
    padding: 10px 20px;
    background-color: white;
    color: rgb(50, 50, 50);
    transition: .3s ease;
}

.header-sign-in:visited {
    color: rgb(50, 50, 50);
}

.header-sign-in:hover {
    transform: scale(1.05);
}

.header-profile-container {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
}

.header-profile-title {
    color: black;
}

.header-profile-container-img {
    width: 30px;
    margin-right: 10px;
}

.profile-wrapper {
    position: relative;
}

.profile-drop-list-container {
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
    height: fit-content;
    width: 120px;
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 15px 10px;
    position: absolute;
    top: 50px;
    right: 0px;
    transition: opacity 0.3s ease;
}

.profile-wrapper:hover .profile-drop-list-container {
    visibility: visible;
    opacity: 1;
}

.profile-drop-list-container::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid white;
    background-color: transparent;
}

.profile-drop-list-el-img {
    width: 20px;
}

.profile-drop-list-el {
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-drop-list-el-title {
    color: rgb(50, 50, 50);
}

.header-nav-btn {
    background-color: transparent;
    color: white;
}

.burger-container {
    display: none;
    cursor: pointer;
    top: 20px;
    right: 10px;
    position: absolute;
    padding: 5px;
    width: fit-content;
    background-color: white;
    border-radius: 50px;
    transition: .3s ease;
}

.burger-container:hover {
    transform: scale(1.05);
}

.burger-img {
    width: 30px;
}

.sidebar-wrapper {
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    z-index: 5;
    position: fixed;
    inset: 0;
    height: 100vh;
    background-color: rgb(50, 50, 50, 0.3);
    transition: .3s ease;
}

.sidebar-wrapper.active {
    visibility: visible;
    opacity: 1;
}

.sidebar {
    cursor: default;
    width: 300px;
    background-color: white;
    height: 100vh;
    top: 0;
    right: -300px;
    position: absolute;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.active {
    right: 0;
}

.close-sidebar {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 30px;
    transition: .3s ease;
}

.close-sidebar:hover {
    transform: scale(1.05);
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.sidebar-list * > * {
    font-size: 18px;
    color: rgb(50, 50, 50);
    font-weight: 400;
    margin-bottom: 20px;
}

.sign-in-btn.sidebar-list {
    font-size: 18px;
}

.sidebar-list form > button {
    margin-bottom: 0px;
}

.header-profile-container.sidebar-profile {
    color: white;

    padding: 5px 20px;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-drop-list-el-img.sidebar-img {
    margin: 0;
    margin-right: 10px;
}

.profile-drop-list-el-div {
    margin: 0;
}

.sidebar-contacts {
    position: absolute;
    bottom: 0;

}

.sidebar-contacts * > * {
    margin-bottom: 0;
}

@media (max-width: 950px) {
    .header-navigate {
        display: none;
    }

    .header {
        justify-content: center;
    }

    .burger-container {
        display: initial;
    }
}

